.background{
    background-color: #FFEBD4;
    height: 900px;
    width: 600px;
    padding: 10px;
    margin-left: 80vh;
    font-family: cursive;
}
.top-navbar{
    display: flex;
}
.text{
    font-size: 20px;
    color: #F0A8D0;
    font-weight: bold;
    margin-right: 360px;
}
.top-icon{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.search-btn{
    height: 50px;
    width: 580px;
    border-radius: 30px;
    text-align: start;
    font-family: cursive;
    font-size: 15px;
    background-color: #FFC6C6;
    border: 3px solid #F7B5CA;
    margin-bottom: 40px;
}
.search-btn:hover{
    box-shadow: 5px 5px 4px 2px #F0A8D0; 
}
.chats{
    display: flex;
}
.profile_icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}
.chat-list {
    width: 550px;
    background-color: #FFEBD4;
    border-radius: 10px;
    padding: 10px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.chat-item:last-child {
    border-bottom: none;
}

.chat-info {
    flex-grow: 1;
}

.chat-name-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-name {
    font-weight: bold;
    margin-left: 25px;
    font-size: 25px;
}
.chat-date{
    margin-left: 280px;
}

.chat-time {
    font-size: 0.9em;
    color: #888;
}

.chat-message {
    color: black;
    font-size: 0.9em;
    margin-top: 15px;
    margin-left: 30px;
}